body{
  background-image: url('https://png.pngtree.com/background/20210717/original/pngtree-simple-mathematics-subject-for-high-school-9th-grade-geometry-picture-image_1443166.jpg');
  background-size: cover;

}


.App {
  text-align: center;

}
.rec {
  color: blue;
  border: 1px solid #6747f4;
  margin: 5px;
  padding: 10px;
  
}